.desktop-note-details {
    padding: var(--spacing-250) var(--spacing-300)
}

.desktop-note-details__form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.desktop-note-details__text-area {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: var(--spacing-200);
}