.desktop-note-actions {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    border-left: 1px solid var(--color-neutral-200);
    padding: var(--spacing-250) var(--spacing-400) var(--spacing-250) var(--spacing-200);
}