.note-list {
    height: 100%;
}

.note-list__text {
    color: var(--color-neutral-700);
    margin-bottom: var(--spacing-150);
}

.note-list__btn-container {
    margin-bottom: var(--spacing-200);
}

.note-list__items {
    overflow-y: auto;
    max-height: calc(100% - 74px - 40px);
    scrollbar-width: none;
}

.note-list__creation {
    padding: var(--spacing-100);
    background-color: var(--color-neutral-100);
}