.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(14, 18, 27, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal__content {
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-12);
    max-width: 440px;
    width: 100%;
    margin-inline: var(--spacing-200);
}

.modal__body {
    padding: var(--spacing-250);
    border-bottom: 1px solid var(--color-neutral-200);
    display: flex;
    column-gap: var(--spacing-200);
}

.modal__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-neutral-100);
    flex-shrink: 0;
    border-radius: var(--border-radius-8);
}

.modal__heading {
    margin-bottom: var(--spacing-100);
}

.modal__actions {
    display: flex;
    justify-content: flex-end;
    column-gap: var(--spacing-200);
    padding: var(--spacing-200) var(--spacing-250);
}