.mobile-note-details {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mobile-note-details__text-area {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: var(--spacing-200);
}